@model Sample1.Models.User_Details

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm("Create", "UserDetails", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>User_Details</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("State", "State", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("State", (SelectList)ViewBag.States, "Select a State", new { @class = "form-control" })
                @Html.ValidationMessage("State", "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.Label("City", "City", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("City", (SelectList)ViewBag.Cities, "Select a City", new { @class = "form-control" })
                @Html.ValidationMessage("City", "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MobileNumber, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MobileNumber, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MobileNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ResumePdf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="ResumePdf" accept=".pdf, .doc" class="form-control" />
                @Html.ValidationMessageFor(model => model.ResumePdf, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.PhotoPdf, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" name="PhotoPdf" accept=".jpg" class="form-control" />
                @Html.ValidationMessageFor(model => model.PhotoPdf, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Edit" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
    document.getElementById('editButton').addEventListener('click', function () {
        window.location.href = '@Url.Action("Edit", "UserDetails")'; // Replace "ControllerName" with the actual name of your controller
    });
    </script>

}
